<h2>Function Details</h2>
<% @class_details.each do |func| %>
  <h3 class="signature" id = <%= "#{func[:name]}-instance_method" %>>
    <strong>
      <% if func[:return] %>
        <%= @html_helper.generate_return_types(func[:return][1]) %>
      <% end %>
      <%= func[:name] %>
    </strong>
  </h3>
  <div class="docstring">
    <div class="discussion">
      <p><%= htmlify(func[:desc]) %></p>
    </div>
  </div>
  <div class="tags">
    <% if func[:examples] != {}%>
      <div class="examples">
        <p class="tag_title">Examples:</p>
        <% func[:examples].each do |title, text| %>
          <div class="inline"><p><%= title %></p></div>
          <pre class="example code"><code><span><%= text %></span></code></pre>
        <% end %>
      </div>
    <% end %>
    <% if func[:since] %>
      <p class="tag_title">Since:</p>
      <ul class="since">
        <li>
          <div class="inline">
            <p><%= func[:since] %></p>
          </div>
        </li>
      </ul>
    <% end %>
    <% if func[:return] %>
      <p class="tag_title">Returns:</p>
      <ul class="return">
        <li>
          <%= @html_helper.generate_return_types(func[:return][1], func[:return][0]) %>
        </li>
      </ul>
    <% end %>
    <% if func[:params] != nil %>
      <p class="tag_title">Parameters:</p>
      <div class="tags">
        <ul class="param">
          <%= @html_helper.generate_parameters(func[:params], object.child) %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
