<h2>Parameter Summary</h2>
<div class="tags">
  <ul class="param">
    <% @param_details.each do |param| %>
      <li>
        <% if !param[:exists?] %>
          <strike>
        <% end %>
          <span class="name"><%= param[:name] %></span>
          <%# TODO: Linkify defaults that resolve to variable declarations in a different scope. %>
            <span class="type">
              <% if param[:types] %>
                (<%  param[:types].each do |type| %>
                  <tt>
                    <% if param[:types].last != type %>
                      <%= type %>,
                    <% else %>
                      <%= type %>
                    <% end %>
                  </tt>
                <% end %>)
              <% else %>
                <tt>(TBD)</tt>
              <% end %>
            </span>
          <% unless param[:module].nil? %>
            <tt><%= "=> #{param[:module]}" %></tt>
          <% end %>
          <% if param[:desc]%>
            —
            <div class="inline">
              <p><%=  param[:desc] %></p>
            </div>
          <% end %>
        <% if !param[:exists] %>
          </strike>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
